.title {
  text-align: center;
}

.grid-container {
  position: relative;
  left: 10%;
  display: grid;
  grid-template-columns: 30% 10% 10% 10% 10% 10% 30%;
  width: 50%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  /*padding-bottom: 5%;*/
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
}

.text-left-item {
  text-align: right;
  padding-right: 12%;
}

.text-right-item {
  text-align: left;
  padding-left: 12%;
}

.radio-left-item {
  text-align: right;
  padding-right: 8%;
}

.radio-right-item {
  text-align: left;
  padding-left: 8%;
}

.question {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  margin-top: 1%;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 120%;
}

.question-block {
  display: inline-block;
  width: 60%;
  float: left;
  padding-bottom: 40px;
}

.submit-button {
  margin: 0% 20% 10% 20%;
  padding: 1% 0;
  left: 30%;
  width: 50%;
  font-size: 120%;
}
